.missionsContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    overflow-y: scroll;
}



.topTitle {
    background-color: #00382b;
    text-align: center;
    flex-shrink: 0;
    height: 3rem;
    width: 100%;
}

.mission {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border-top: 1px rgba(128, 128, 128, 0.242) solid;
    padding-top: 1rem;
}

.done {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border-top: 1px rgba(128, 128, 128, 0.242) solid;
    padding-top: 1rem;
    color: #366854;
}

.mission:first-child {
    border-top: none;
}

.missionButton {
    border: none;
    background-color: #366854;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

}

.missionButton:hover {
    background-color: #47886e;
}

.missionCheckbox {
    /* Your custom styling for the checkbox */
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    /* Add more styles as needed */
}